@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskReguler.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskUltraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
