@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskUltrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Anderson';
  src: url('AndersonGroteskBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
